{% extends 'news/base.html' %}
{% load static %}

{% block title %}Foydalanuvchi parolini o'zgartirish{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="text-center">Parolni o'zgartirish</h1>
    <p class="lead text-center">Quyidagi formani to'ldiring, parolingizni yangilang.</p>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form method="post" class="form">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              {{ field.label_tag }}
              {{ field }}
            </div>
          {% endfor %}
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Parolni almashtirish</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
