{% extends 'news/base.html' %}
{% load static %}

{% block title %}Parolni o'zgartirish{% endblock title %}

{% block content %}

<div class="container">
    <h1 class="text-center">Parolni o'zgartirish uchun email yuborildi</h1>
    <p class="lead text-center">Sizning e-mailingizga parolni o'zgartirish uchun link yuborildi. </p>
    <p class="text-center">Agar linkni olishda muammo yuzaga kelsa, spam jildi yoki junks bo'limini tekshirib ko'ring.</p>
    <div class="row justify-content-center">
        <div class="col-md-6">
        </div>
    </div>
</div>

{% endblock %}
