{% extends 'news/base.html' %}
{% load static %}

{% block title %}Foydalanuvchi parolini tiklash{% endblock title %}

{% block content %}
  <div class="container">
    <h1 class="text-center">Parolni tiklash</h1>
    <p class="lead text-center">Parolingizni yangilash uchun quyidagi formani to'ldiring.</p>
    <div class="row justify-content-center">
      <div class="col-md-6">
        {% if validlink %}
          <p>Iltimos yangi parolni ikki martaba kiring:</p>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><button type="submit" class="btn btn-primary">Parolni o'zgartirish</button></p>
          </form>
        {% else %}
          <p>Siz noto'g'ri linkdan foydalangan bo'lishingiz mumkin, iltimos qaytadan urinib ko'ring.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
