Subject: Password reset instructions for {{ user.get_username }}

Dear {{ user.get_username }},

We have received a request to reset your password for your account with {{ domain }}. To proceed with resetting your password, please follow the steps below:

Click on the following link to reset your password: {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
Note: If the above link does not work, you can copy and paste it into your web browser's address bar.

You will be directed to a page where you can enter a new password. Please choose a strong and unique password that you can remember.
If you did not request a password reset, please ignore this message and your account will remain secure.

Best regards,
The {{ domain }} team