{% extends 'news/base.html' %}
{% load static %}

{% block title %} Texnologiya xabarlari {% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for news in texnologik_yangiliklar %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ news.image.url }}" alt="{{ news.title }}" class="card-img-top" style="max-height: 200px;">
                        <div class="card-body">
                            <h2 class="card-title" style="font-size: 1.2rem;">{{ news.title }}</h2>
                            <p class="card-text" style="font-size: 0.9rem; line-height: 1.3; height: 3.9rem; overflow: hidden;">{{ news.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
