{% extends 'news/base.html' %}
{% load static %}

{% block title %} Xorij xabarlari {% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for new in xorij_yangiliklari %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ new.image.url }}" alt="{{ new.title }}" class="card-img-top" style="max-height: 200px;">
                        <div class="card-body">
                            <h2 class="card-title" style="font-size: 1.2rem;">{{ new.title }}</h2>
                            <p class="card-text" style="font-size: 0.9rem; line-height: 1.3; height: 3.9rem; overflow: hidden;">{{ new.summary }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
